<div class="cm-about">
	<div class="cm-topbar">
		<a ui-sref="menu">
		<div class="cm-topbar-item -left"><ciayo translate="$back">BACK</ciayo></div>
		</a>
		<div class="cm-topbar-title"><ciayo translate="$about.ciayo">About CIAYO</ciayo></div>
	</div>
	<div class="cm-about-content">
		<div class="_list" ng-click="vm.getPage(1)"><ciayo translate="$about.ciayo">About Us</ciayo></div>
		<div class="_list" ng-click="vm.getPage(3)"><ciayo translate="$privacy.&.policy">Privacy & Policy</ciayo></div>
		<div class="_list" ng-click="vm.getPage(2)"><ciayo translate="$terms.and.conditions">Terms and Conditions</ciayo></div>
		<!-- <div class="_list" ng-click="vm.getPage(6)"><ciayo translate="$faq">FAQ</ciayo></div> -->
	</div>
</div>
<div class="cm-panel -privacy-policy -topbar" ng-class="vm.isOpen?'-open':''">
	<div class="cm-topbar">
		<div class="cm-topbar-item -left" ng-click="vm.closePanel()"><ciayo translate="$back">BACK</ciayo></div>
		<div class="cm-topbar-title">{{vm.page.title}}</div>
	</div>
	<div class="cm-panel-content"> 
		<div class="_content" ng-bind-html="vm.page.content">
		</div>
	</div>
</div>