<div class="cm-wellcome -forgot">
	<div class="cm-wrapper">
		<div class="_back">
			<a ui-sref="welcome">
				<i class="ci-prev"></i>
				Back
			</a>
		</div>
		<div class="_head"><img src="assets/img/logo.png" class="_head-logo"/>
			<div class="_head-text"><ciayo translate="$forgot.your.password?">Forgot your password? Put your email address below!</ciayo></div>
		</div>
		<div class="_tab -email">
			<div class="_tab-btn -email" ng-click="vm.forPassType='email'"><i class="ci-email -s16"></i><span><ciayo translate="$email">EMAIL</ciayo></span>
			</div>
			<div class="_tab-btn -phone" ng-click="vm.forPassType='phone'"><i class="ci-phone -s16"></i><span><ciayo translate="$phone">PHONE</ciayo></span>
			</div>
			<div class="_tab-line"></div>
			<div class="_tab-alert" ng-show="vm.errMsg">
				<div class="cm-alert"><i class="ci-warning -s16"></i>{{vm.errMsg}}
				</div>
			</div>
			<div class="_tab-pane">
				<div class="_form -email">
					<div class="_form-row">
						<input name="fpEmail" type="text" placeholder="{{'$email.address'|translate}}" class="cm-input" ng-model="vm.fpEmail">
					</div>
				</div>
				<div class="_form -phone">
					<div class="_form-row">
						<div class="_code">
							<select ng-init="vm.fpPC='62'" class="cm-input" ng-model="vm.fpPC">
								<option value="62" selected>+62</option>
								<option ng-repeat="list in vm.listPhoneCode | orderBy: 'country_name'" ng-if="list.phone_code && list.phone_code != 62" ng-bind="'+'+list.phone_code" value="{{list.phone_code}}"></option>
							</select>
						</div>
						<div class="_number">
							<input name="fpPhone" type="number" placeholder="{{'$phone.number'|translate}}" class="cm-input" ng-model="vm.fpPhone" onkeypress="return numberOnly(this, event)">
						</div>
						<div class="cm-clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="_submit"><button class="cm-button -primary" ng-click="vm.forgotPassword()"><ciayo translate="$submit">Submit</ciayo></a></div>
	</div>
	</div>
	<script>
	$(document).ready(function(){
		$("._tab-btn.-email").on("click", function(){
			$(this).parent("._tab").addClass("-email").removeClass("-phone")
		})

		$("._tab-btn.-phone").on("click", function(){
			$(this).parent("._tab").addClass("-phone").removeClass("-email")
		})
	})

	function numberOnly(myfield, e, dec){
		var key;
		var keychar;
		if (window.event) {
			key = window.event.keyCode; 
		} else if (e) {
			key = e.which; 
		} else {
			return true;
		}

		keychar = String.fromCharCode(key);

		if ((key==null) || (key==0) || (key==8) || (key==9) || (key==13) || (key==27) ) {
			return true;
		} else if ((("0123456789").indexOf(keychar) > -1)) {
			return true;
		} else {
			return false;
		}
	}
	</script>