
<div class="cm-wellcome -new-password">
	<div class="cm-wrapper">
		<div class="_head"><img src="assets/img/logo.png" class="_head-logo"/>
			<div class="_head-text"><ciayo translate="$create.a.new">Create a new password</ciayo></div>
			<div class="_tab-alert" ng-show="vm.errMsg">
				<div class="cm-alert"><i class="ci-warning -s16"></i>{{vm.errMsg}}
				</div>
			</div>
			<div class="_form">
				<div class="_form-row">
					<input name="newPass" type="password" placeholder="{{'$your.new.password'|translate}}" class="cm-input" ng-model="vm.newPass" ng-blur="vm.validatePassword('newPass', vm.newPass)">
				</div>
				<div class="_form-row">
					<input name="rePass" type="password" placeholder="{{'$confirm.new.password'|translate}}" class="cm-input" ng-model="vm.rePass" ng-blur="vm.checkRePass()">
				</div>
			</div>
			<div class="_submit"><button class="cm-button -primary" ng-click="vm.resetPassword()"><ciayo translate="$submit">Submit</ciayo></a></div>
			<div class="_links">
				<div class="_left"><a ui-sref="welcome" class="cm-link"><ciayo translate="$create.a.new">Create a new account</ciayo></a></div>
				<div class="_right"><a ui-sref="welcome" class="cm-link"><ciayo translate="$login">Login</ciayo></a></div>
			</div>
		</div>
	</div>
</div>