<div class="cm-trending">
  <div class="cm-topbar"><a ui-sref="menu">
      <div class="cm-topbar-item -left"><ciayo translate="$back">BACK</ciayo></div></a>
    <div class="cm-topbar-title"><ciayo translate="$trending">Trending</ciayo></div>
  </div>
  <div class="cm-trending-tab"><a href="_trending.html">
      <div class="item-active">
        <div class="icon post"></div>
        <div class="name"><ciayo translate="$posts">Posts</ciayo></div>
      </div></a><a href="_trending-people.html">
      <div class="item">
        <div class="icon people"></div>
        <div class="name"><ciayo translate="$people">People</ciayo></div>
      </div></a><a href="_trending-activity.html">
      <div class="item"> 
        <div class="icon activity"></div>
        <div class="name"><ciayo translate="$activity">Activity</ciayo></div>
      </div></a><a href="_trending-place.html">
      <div class="item"> 
        <div class="icon place"></div>
        <div class="name"><ciayo translate="$place">Place</ciayo></div>
      </div></a></div>
</div>