include _mixins
+layout({
})
	.cm-achievement
		.cm-topbar
			.cm-topbar-item.-left BACK
			.cm-topbar-title Achievement Detail
		._wrapper._full-height
			._container-achievement_detail
				._main-image
					img(src="assets/img/achievement/_achievement-detail@2x.png")
				._container-description
						._title-description
							h2._achievement-name Chamber of delusions Test max character
							._icon-used_as_title
									img(src="assets/img/achievement/icon-used_as_title@2x.png")
							._button-action Use as title
							.cm-clearfix
						._paragraph-description
							p No need to do a DNA check or a chromosome test, just tell us about your medical history
						._footer-description
							b Reward:
							._currency-info 
								._value(style="background-image: url('assets/img/achievement/currency-caps@2x.png');") 100
							._icon-share
								img(src="assets/img/achievement/icon-share@2x.png")
							.cm-clearfix
				._container-achievement_level
					._level 
						img(src="assets/img/achievement/_achievement-level@2x.png")
					._level
						img(src="assets/img/achievement/_achievement-level@2x.png")
					._level.active
						img(src="assets/img/achievement/_achievement-level@2x.png")
					._level.locked
						img(src="assets/img/achievement/_achievement-level-incomplete@2x.png")
					._level.locked
						img(src="assets/img/achievement/_achievement-level-incomplete@2x.png")
					._level.locked
						img(src="assets/img/achievement/_achievement-level-incomplete@2x.png")
		.cm-clearfix

		