include _mixins
+layout({
})
	.cm-achievement
		.cm-topbar
			.cm-topbar-item.-left BACK
			.cm-topbar-title Search Achievement
		._wrapper
			._form
				._wrapper
					i.ci-search
					input(type="text" placeholder="Search Achievement...")
		._sort Sort By
			._select
				i.ci-hi-lo
				select
					option Highest to lowest
					option Lowest to High
				i.ci-dropdown._right
		._wrapper
			._tabs
				._item.-active All
				._item Ongoing
				._item Completed
			._result
				ul
					li
						._thumbnail
							img(src="assets/img/achievement/_achievement-1.png")
						._desc
							._name
								| Confidence
								i.ci-title
							._progress
								._bar
									._percentage
									span Progress 50/100
						.cm-clearfix
					li
						._thumbnail
							img(src="assets/img/achievement/_achievement-1.png")
						._desc
							._name
								| Confidence
								i.ci-title
							._progress
								._bar
									._percentage
									span Progress 50/100
						.cm-clearfix
					li
						._thumbnail
							img(src="assets/img/achievement/_achievement-1.png")
						._desc
							._name
								| Confidence
								i.ci-title
							._progress
								._bar
									._percentage
									span Progress 50/100
						.cm-clearfix
					li
						._thumbnail
							img(src="assets/img/achievement/_achievement-1.png")
						._desc
							._name
								| Confidence
								i.ci-title
							._progress
								._bar
									._percentage
									span Progress 50/100
						.cm-clearfix
					li
						._thumbnail
							img(src="assets/img/achievement/_achievement-1.png")
						._desc
							._name
								| Confidence
								i.ci-title
							._progress
								._bar
									._percentage
									span Progress 50/100
						.cm-clearfix
					li
						._thumbnail
							img(src="assets/img/achievement/_achievement-1.png")
						._desc
							._name
								| Confidence
								i.ci-title
							._progress
								._bar
									._percentage
									span Progress 50/100
						.cm-clearfix