include _mixins
+layout({
})
	.cm-achievement
		.cm-topbar
			.cm-topbar-item.-left BACK
			.cm-topbar-title Achievement
		._wrapper
			._title Badges (6)
			._badges
				._item
					img(src="assets/img/achievement/_badge.png")
					span Welcome to Ciayo
				._item
					img(src="assets/img/achievement/_badge.png")
					span Walking with confidence
				._item
					img(src="assets/img/achievement/_badge.png")
					span Welcome to Ciayo
				._item
					img(src="assets/img/achievement/_badge.png")
					span Welcome to Ciayo
				._item
					img(src="assets/img/achievement/_badge.png")
					span Welcome to Ciayo
				._item
					img(src="assets/img/achievement/_badge.png")
					span Welcome to Ciayo
				._item
					img(src="assets/img/achievement/_badge.png")
					span Welcome to Ciayo
				._item
					img(src="assets/img/achievement/_badge.png")
					span Welcome to Ciayo
		._wrapper
			._title
				| Achievement
				button.cm-button.-primary.-small
					i.ci-search
			._sort Sort By
				._select
					i.ci-hi-lo
					select
						option Highest to lowest
						option Lowest to High
					i.ci-dropdown._right
			._tabs
				._item.-active All
				._item Ongoing
				._item Completed
			._content
				ul
					li
						._progress
							img(src="assets/img/achievement/_achievement-1.png")
						._name Walking With Confidence
					li
						._progress
							img(src="assets/img/achievement/_achievement-1.png")
						._name Walking With Confidence
					li
						._progress
							img(src="assets/img/achievement/_achievement-1.png")
						._name Walking With Confidence
					li
						._progress
							img(src="assets/img/achievement/_achievement-1.png")
						._name Walking With Confidence
					li
						._progress
							img(src="assets/img/achievement/_achievement-1.png")
						._name Walking With Confidence
					li
						._progress
							img(src="assets/img/achievement/_achievement-1.png")
						._name Walking With Confidence
					li
						._progress
							img(src="assets/img/achievement/_achievement-1.png")
						._name Walking With Confidence
					li
						._progress
							img(src="assets/img/achievement/_achievement-1.png")
						._name Walking With Confidence
			.cm-clearfix
	.cm-modal.-archievement
		.cm-modal-backdrop
		.cm-modal-content
			._container-achievement_detail
				._main-image
					img(src="assets/img/achievement/_achievement-detail@2x.png")
				._container-description
						._title-description
							h2._achievement-name Chamber of delusions Test max character
							._icon-used_as_title
									img(src="assets/img/achievement/icon-used_as_title@2x.png")
							._button-action Use as title
							.cm-clearfix
						._paragraph-description
							p No need to do a DNA check or a chromosome test, just tell us about your medical history
						._footer-description
							b Reward:
							._currency-info 
								._value(style="background-image: url('assets/img/achievement/currency-caps@2x.png');") 100
							._icon-share
								img(src="assets/img/achievement/icon-share@2x.png")
							.cm-clearfix
