include _mixins
+layout()
	.cm-setting.-account-deactivate
		.cm-wrapper
			+img("setting/timeout.png")
			._head Your Account is Currently Deactivated
			._paragraph Your friends are waiting for you in the CIAYO World! Come back and join in on the fun!
			._reactive: a(href='').cm-button.-primary Reactivate my account
			._login: a(href='').cm-button Login with another account
