include _mixins
+layout({
})
	.cm-trending
		.cm-topbar
			a(href='_menu.html')
				.cm-topbar-item.-left BACK
			.cm-topbar-title Trending
		.cm-trending-tab
			a(href='_trending.html')
				.item
					.icon.post
					.name Posts
			a(href='_trending-people.html')
				.item
					.icon.people
					.name People
			a(href='_trending-activity.html')
				.item 
					.icon.activity
					.name Activity
			a(href='_trending-place.html')
				.item-active
					.icon.place
					.name Place
		mixin list(img)
			.trending-place
				.list
					.place-ribbon 01
					.list-header
						.place-img
							img(src="assets/img/trending/place-img.png")
						.place-title BMW Motor SARL
						.place-location 23-29 Rives de Clausen, L-2165 Luxembourg | Company No: R.C.S. Luxembourg  | B100.468, VAT: LU 20981643
					.place-location-img 
						img(src= img)
					.place-desc Posted 1,000 times this week
		+list('assets/img/trending/location.png')
		+list('assets/img/trending/location.png')
		+list('assets/img/trending/location.png')
		.view-more
			.button View more
		


		