include _mixins
+layout({
})
	.cm-trending
		.cm-topbar
			a(href='_menu.html')
				.cm-topbar-item.-left BACK
			.cm-topbar-title Trending
		.cm-trending-tab
			a(href='_trending.html')
				.item
					.icon.post
					.name Posts
			a(href='_trending-people.html')
				.item-active
					.icon.people
					.name People
			a(href='_trending-activity.html')
				.item 
					.icon.activity
					.name Activity
			a(href='_trending-place.html')
				.item 
					.icon.place
					.name Place
		.trending-people
			mixin list
				.list
					.photo-profile
						img(src="assets/img/friend-request/user.png")
					.name-profile
						.display-name Bos Jacky
						.full-name Bos Jacky semakin di depan
							+icon("currency-cans", 6)
							| &nbsp; Male
						.follower 
							.title followers
							.value 142K
						.post 
							.title posts
							.value 90
					.config-profile
						.icon
							+icon("c-button", 30)
					.ribbon 01

			+list
			+list
			+list
			+list
			+list
			+list
		.view-more
			.button View more

		