include _mixins
+layout({
})
	.cm-updates
		.cm-topbar
			a(href='_menu.html')
				.cm-topbar-item.-left BACK
			.cm-topbar-title Updates
		.cm-updates-tab
			a(href='')
				.item-active
					.icon.updates
					.name Updates
			a(href='_updates-comingsoon')
				.item
					.icon.comingsoon
					.name Coming Soon
		.cm-updates-content
			.version
				.text Version
				.drop
					select
						option CIAYO 1.1.1
						option CIAYO 1.1.2
						option CIAYO 1.2.1
					+icon("dropdown", 10)
			.detail
				.text
					|CIAYO 1.1.1 - 
					span 14th August 2017
				.list
					span New Feature
					ul
						li Chat system on CIAYO
						li Free call system, now you can talk to all your friend for free
						li Filter, the more you telling about yourself the more you will find someone that similar to you personality and even perhaps you may found your special one
				.list
					span New Content
					ul
						li A bundle of new sticker to fill up your collection, make the interaction more expensive and fun
						li 100 new activities to cover more of your unique personalities
						li 157 new place to visit on your journey
				.list
					span New Achievement
					ul
						li 50 new achievement on Pack I to complete 
						li Added Pack II achievement with 250 new achievement within, more challenge to be faced
