include _mixins
+layout({
})
	.cm-updates
		.cm-topbar
			a(href='_menu.html')
				.cm-topbar-item.-left BACK
			.cm-topbar-title Updates
		.cm-updates-tab
			a(href='')
				.item
					.icon.updates
					.name Updates
			a(href='_updates-comingsoon')
				.item-active
					.icon.comingsoon
					.name Coming Soon
		.cm-updates-content
			.head Coming Soon
			.banner Updates Banner Coming Soon 1
			.banner Updates Banner Coming Soon 2
			.banner Updates Banner Coming Soon 3