include _mixins
+layout()
	.cm-wellcome.-new-password
		.cm-wrapper
			._head
				+img("logo.png", {class: "_head-logo"})
				._head-text Create a new password
				._form
					._form-row: input(type="password" placeholder="Your new password").cm-input
					._form-row: input(type="password" placeholder="Confirm new password").cm-input
				._submit: a(href='_wellcome-forgot-password-success.html').cm-button.-primary Submit
				._links
					._left: a(href="_wellcome-login-register.html").cm-link Create a new account
					._right: a(href="_wellcome-login-register.html").cm-link Login